body{
  font-family: 'Roboto','Scheherazade New',sans-serif;
}


.homepage{
  position: relative;
  overflow: hidden;
}

/* actions */
.show{
  top:0;
}

.hide{
  top:-1000px;
}

.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage{
  position: relative;
  background-image: url("./img/DSC_6008_n.jpg");
  background-size: 100vw 140vw;
  background-repeat: no-repeat;
  background-position: center left;
  width: 100vw;
  height: calc(120vh + 50px);
  margin-top: -180px;
}

.navbar{
  width: 100vw;
  padding-top: 0rem !important;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  width: 100vw;
}

.navbar a:hover{
  color: rgb(22, 22, 22); 
}

.navbar #expanded-links{
  position: absolute;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 500px;
  background-color: rgb(106, 64, 64);
}

.navbar #expanded-links li{
  list-style: none;
}

.navbar #expanded-links li a{
  color: rgba(255, 255, 255, 0.808);
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

.navbar #expanded-links li a:hover{
  color: rgba(250, 250, 250, 0.712);
}
  
.topnav a {
  color: black;
  padding: 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

.topnav .topnav-header{
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav .topnav-header .icon{
  width: 200px;
  cursor: pointer;
}

.topnav .topnav-header .social-links{
  display: flex;
  align-items: center;
}

.topnav .topnav-header .social-links a:hover{
  color:rgba(0, 0, 0, 0.692);
}

.topnav .topnav-header .photograper-name a:hover{
  color: rgba(0, 0, 0, 0.692);
}

.topnav .topnav-header .photograper-name {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: .01em;
  text-transform: uppercase;
}

.topnav .topnav-header .social-links a{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .03em;
  color: black;
  text-transform: uppercase;
}

.main-title{
  height: 100%;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Scheherazade New';
}

.main-title a{
  text-decoration: none;
  color: white;
}

.main-title a:hover{
  color: rgba(250, 250, 250, 0.712);
}

.main-title h1{
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: .02em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  text-align: center;
}

.main-title span{
  font-style: normal;
  cursor: pointer; 
}

/* buttons */
.close-btn{
  display: none;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.btn-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.btn-price:hover {
  background-color:transparent !important;
  color: black !important;
  border-color: black !important;
}

.column-div{
  text-align: left;
}

/* portfolio */
.portfolio img,
.price img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  box-shadow: 1px 2px 24px 1px;
  border-radius: 5px;
}

/* footer */
.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
}

.footer .photograper-name {
  font-family: 'Scheherazade New';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: .01em;
  text-transform: uppercase;
}

.price .section-individ-shoot{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price .section-individ-shoot .section-individ-shoot-inner{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.price .section-individ-shoot .section-individ-shoot-inner .section-individ-shoot-inner-first-div{
  text-align: right;
}

.price .section-individ-shoot .section-individ-shoot-inner .section-individ-shoot-inner-first-div .section-description-conditions{
  text-align: right;
}

.price .section-individ-shoot-inner h6{
  font-weight: 700;
  font-size: 15px;
}

.price .section-description-conditions span{
  font-weight: 700;
  font-size: 15px;
  margin-top: 1.3em;
}

.price .section-individ-shoot .section-included-price .section-right-included-price-title {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

h4{
  font-family: Roboto;
  font-weight: 700 !important;
  font-size: 32px;
  line-height: 40px;
  margin: .5em 0;
  color: rgb(33, 33, 33);
  text-align: center;
}

.additional-info{
  text-align: center;
}

.footer .photographer-links{
  display: flex;
  margin: .5em 0;
}

.footer .photographer-number{
  margin-top: 1em;
}

.footer .social-links a,
.footer .social-links span{
  text-transform: uppercase;
  color: rgb(33, 33, 33);
  text-decoration: none;
  margin: 0 10px;
}

.footer .social-links span{
  color: gray;
}

@media screen  
  and (min-device-width: 1600px)  { 
  .homepage{
    background-size: 100vw 130vw;
    background-position: center center;
    width: 100vw;
    height: calc(120vh + 50px);
    margin-top: -6em;
  }

  .main-title h1{
    font-size: 5.5em;
  }

  .main-title span{
    font-size: 2.5em;
  }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  { 
  .homepage{
    background-size: 100vw 130vw;
    background-position: center center;
    width: 100vw;
    height: calc(120vh + 50px);
    margin-top: -5.5em;
  }
}

@media (max-width: 1250px){
  .homepage{
    background-size: 100vw 120vw;
    background-position: center center;
    width: 100vw;
    height: calc(100vh + 50px);
  }

  .main-title h1{
    font-size: 48px;
    line-height: 48px;
  }

  .topnav .topnav-header .photograper-name {
    font-size: 24px;
    line-height: 20px;
  }

  .footer .photograper-name {
    font-size: 24px;
    line-height: 20px;
  }

  .footer  .photographer-links,
  .footer  .photographer-number{
    font-size: 10px;
  }

  .topnav .topnav-header .social-links a{
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .01em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .topnav .btn-price{
    font-size: 12px;
  }

  .icon svg{
    max-height: 20px;
    max-width: 20px;
  }
}

@media (max-width: 1000px){
  .topnav .topnav-header{
    width: 97vw;
  }
}

@media (max-width: 991px){
  .price .section-individ-shoot .section-individ-shoot-inner .section-individ-shoot-inner-first-div{
    text-align: center;
  }

  .price .section-individ-shoot .section-individ-shoot-inner .section-individ-shoot-inner-first-div .section-description-conditions{ 
    text-align: center;
  }

  .price .section-individ-shoot-inner .column-div{
    text-align: center;
  }

  .footer{
    height: auto;
  }

  .reviews img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    box-shadow: 1px 2px 24px 1px;
    border-radius: 5px;
  }
}

@media (max-width: 850px){
  .homepage{
    background-size: 110vw 120vw;
    background-position: center center;
    width: 100vw;
    height: calc(100vh + 50px);
    margin-top: -5.5em;
  }

  .topnav .navbar{
    padding-top: 1em;
  }

  .topnav .topnav-header{
    width: 85vw;
  }

  .topnav .topnav-header .photograper-name {
    font-size: 21px;
  }

  .main-title{
    margin-top: 4em;
  }

  .main-title h1{
    font-size: 39px;
  }

  .topnav{
    margin: 1.5em 0;
  }

  .topnav .topnav-header .social-links{
    display: none;
  }

  .icon svg{
    max-height: 20px;
    max-width: 20px;
    margin: 0 0 3px 20px;
  }

  h4{
    font-size: 22px;
    line-height: 22px;
  }

  p{
    font-size: 14px;
  }
}

@media (max-width: 767px){
  .homepage{
    background-size: 110vw 120vw;
    height: 100vh;
    margin-top: -5.5em;
  }

  .topnav .navbar{
    padding-top: 1em;
  }

  .topnav .topnav-header{
    width: 85vw;
  }

  .section-individ-shoot-img {
    margin-bottom: 2em;
  }
}

@media (max-width: 576px){
  .homepage{
    background-size: 100vw 140vw;
    width: 100vw;
    height: 110vh;
    margin-top: -11.5em;
  }

  .icon svg{
    max-height: 20px;
    max-width: 20px;
    margin: 0 0 3px -5px;
  }

  .topnav a {
    font-size: 19px;
  }
}

@media (max-width: 400px){
  .homepage{
    background-size: 100vw 140vw;
    width: 100vw;
    height: 110vh;
    margin-top: -15.5em;
  }

  .main-title h1{
    font-size: 30px;
  }

  .main-title span{
    font-size: 17px;
  }
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}
